
<%= pluralize(@user.errors.count, "error") %>
<h1> Day la tai khoan cua ban </h1>
<div >Ten tK: <%= @user.name %></div>
<div >Password: <%= @user.password%></div>
<div >Email:<%= @user.email %></div>
